streamlit==1.38.0
numpy==1.26.4
pandas==2.2.2
streamlit-option-menu==0.3.13
streamlit-folium==0.22.1
folium==0.17.0
plotly==5.24.0
statsmodels==0.14.2
scikit-learn==1.5.1
matplotlib==3.9.2
seaborn==0.13.2
category_encoders==2.6.3
h2o==3.46.0.4
pulp==2.9.0
imbalanced-learn==0.12.3
